@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.adjust-branch,
.accounts,
.products,
.suppliers,
.good-receive,
.stock-balance,
.stock-transfer,
.stock-return,
.check-price,
.sales,
.work-list,
.online-orders,
.web-mgmt,
.reporting {
  display: flex;
  margin-left: 270px;
  margin-top: -40px;
  font-size: 16px;
  color: #0377A8;
}